
.main{
    background-image: url("../background.jpg"); 
    background-position: center;
    background-size: cover;
    margin-top: -1%;
    margin-left: -0.4%;
    margin-right: -0.4%;
    margin-bottom: -1%;
    padding-bottom: 8.8%;
 
  
}
.maininputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 7%;
    
}
.inputs{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
.inputs textarea{
    margin-top: 10px;
    width: 400px;
    height: 220px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.inputs span{
    font-size: 50px;
    color: rgba(172, 255, 47, 0.599);
    background-color: rgba(128, 128, 128, 0.664);
    border-radius: 10px;
    margin-bottom: 10px;
}
.texttitle{
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    border: none;
}
.inputs textarea::placeholder{
    opacity: 50%;
}
.texttitle::placeholder{
    opacity: 50%;
}
.btnNote{
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    border: none;
    font-size: 18px;
    transition: 0.5s;
}
.btnNote:hover{
    scale: 1.1;
    background-color: rgba(172, 255, 47, 0.599);
}
.tasks{
    width: 40%;
    height: 643px;
    background-color: transparent;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    border: 3px grey solid;
} 
.noteimg{
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    margin-left: 300px;
}



/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: white;
}
html::-webkit-scrollbar-thumb{
    background: rgba(0, 81, 255, 0.526);
    border-radius: 5rem;
}

@media (max-width: 1368px){
    .maininputs{
        display: flex;
        flex-direction: column;
    }
    .tasks{
        margin-top: 30px;
    }
}

@media (max-width: 875px){
    .main{
        padding-bottom: 100px;
        margin-left: -20px;
        margin-right: -20px;
    }
}
@media (max-width: 666px){
    .main{
        margin-top: -20px;
    }
}
@media (max-width: 767px){
    .maininputs{
        display: flex;
        flex-direction: column;
    }
    .tasks{
        margin-top: 30px;
    }
    .grid{
      
        grid-template-columns: repeat(2,1fr);
        column-gap: 5px;
        margin: 8px;
        text-align: center;
    }
}

@media (max-width: 426px){
   
    .inputs textarea{
        width: 250px;
        margin-left: 2%;
    }
}
@media (max-width: 334px){
    .main{
        margin-bottom: -20px;
    }
}









